<div class="modal-header">
  <h5 class="modal-title mt-0">{{ 'Informasi Pribadi' }}</h5>
  <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <form [formGroup]="formData">
            <div class="form-group">
              <label for="namaLengkap">Nama Lengkap</label>
              <input type="text" class="form-control" id="namaLengkap" formControlName="namaLengkap" name="namaLengkap" placeholder="Masukkan nama lengkap">
            </div>
            <div class="form-group">
              <label for="tempatLahir">Tempat Lahir</label>
              <input type="text" class="form-control" id="tempatLahir" formControlName="tempatLahir" name="tempatLahir" placeholder="Masukkan tempat lahir">
            </div>
            <div class="form-group">
              <label for="tanggalLahir">Tanggal Lahir</label>
              <input type="date" class="form-control" id="tanggalLahir" formControlName="tanggalLahir" name="tanggalLahir">
            </div>
            <div class="form-group">
              <label for="jenisKelamin">Jenis Kelamin</label>
              <select class="form-control" id="jenisKelamin"  formControlName="jenisKelamin" name="jenisKelamin">
                <option value="Laki-laki">Laki-laki</option>
                <option value="Perempuan">Perempuan</option>
              </select>
            </div>
            <div class="form-group">
              <label for="alamat">Alamat</label>
              <textarea class="form-control" id="alamat" name="alamat" rows="3" formControlName="alamat" placeholder="Masukkan alamat"></textarea>
            </div>
            <div class="form-group mb-md-2">
              <label for="noKTP">Nomor KTP</label>
              <input type="text" class="form-control" id="noKTP" name="noKTP" formControlName="noKTP" placeholder="Masukkan nomor KTP">
            </div>
            <div class="form-group row mb-md-2">
              <label for="ktpFile" class="col-sm-3 col-form-label">Scan KTP*</label>
              <div class="col-sm-9">
                <input type="file" class="form-control-file" id="ktpFile" (change)="changeKtp($event)" accept="image/*" required>
                <small id="ktpHelpBlock" class="form-text text-muted" style="display: block">
                  Contoh KTP yang benar: (gambar KTP yang terlihat jelas, tidak buram, dan tidak terpotong)
                  <br>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Indonesian_identity_card.jpg" width="150">
                  <br>
                  Contoh KTP yang salah: (gambar KTP yang buram, terpotong, atau tidak terlihat jelas)
                  <br>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Indonesian_identity_card.jpg" [style.filter]="'blur('+4+'px)'" width="150">
                </small>
              </div>
            </div>
            <div class="form-group row mb-md-2">
              <label for="fotoFile" class="col-sm-3 col-form-label">Pas Foto*</label>
              <div class="col-sm-9">
                <input type="file" class="form-control-file" id="fotoFile"(change)="changeFoto($event)" accept="image/*" required>
                <small id="fotoHelpBlock" class="form-text text-muted" style="display: block">
                  Contoh pas foto yang benar: (foto yang terlihat jelas, tidak buram, dan sesuai dengan ketentuan ukuran dan pose)
                  <br>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Obama_portrait_crop.jpg" width="150">
                  <br>
                  Contoh pas foto yang salah: (foto yang buram, tidak sesuai ukuran atau pose)
                  <br>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Obama_portrait_crop.jpg" [style.filter]="'blur('+4+'px)'" width="150">
                </small>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Tutup</button>
  <button type="button" class="btn btn-primary" [disabled]="formData.invalid || !fileKTP || !filePhoto" (click)="save()">Simpan</button>
</div>
