<div class="modal-header">
  <h5 class="modal-title">Change Password</h5>
  <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
</div>
<div class="modal-body">
    <div class="mb-3 row">
      <label for="current-password-input" class="col-md-4 col-form-label">Current Password</label>
      <div class="col-md-8">
        <input required class="form-control" type="password" placeholder="Current Password" [(ngModel)]="currentPassword" id="current-password-input">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="new-password-input" class="col-md-4 col-form-label">New Password</label>
      <div class="col-md-8">
        <input required class="form-control" type="password" placeholder="New Password" [(ngModel)]="newPassword" id="new-password-input">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="confirm-password-input" class="col-md-4 col-form-label">Confirm Password</label>
      <div class="col-md-8">
        <input required class="form-control" type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" id="confirm-password-input">
      </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="modal.dismiss('Close click')">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
</div>
