<div class="modal-header">
  <h5 class="modal-title mt-0">Terms of Use</h5>
  <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4>TERMS OF USE</h4>
          <br />
          <br />
          <strong>Last updated: 09/04/2023</strong>

          <p>Welcome to SIMANUD, an information and licensing platform for Desa Manud Jaya. This website is located at https://simanud.asia ("Website"). Please read these Terms of Use ("Terms") carefully before using the Website.</p>

          <p>By accessing or using the Website, you agree to be bound by these Terms. If you do not agree with any part of these Terms, you must not access or use the Website.</p>

          <h5>Eligibility</h5>
          <p>The Website is intended for use by residents of Desa Manud Jaya only. To access and use the Website, you must be a resident of Desa Manud Jaya and provide accurate and complete information during registration, including your full name, email address, and NIK.</p>

          <h5>User Registration</h5>
          <p>To use certain features of the Website, you will need to register for an account. When registering for an account, you agree to provide true, accurate, current, and complete information about yourself. You are responsible for maintaining the confidentiality of your account information and password and for restricting access to your computer. You accept responsibility for all activities that occur under your account or password.</p>

          <h5>Use of the Website</h5>
          <p>You agree to use the Website for lawful purposes only and in a manner consistent with all applicable local, national, and international laws and regulations. You may not use the Website in any manner that could damage, disable, overburden, or impair the Website or interfere with any other party's use of the Website.</p>

          <h5>Intellectual Property</h5>
          <p>All content, including but not limited to text, graphics, logos, images, audio clips, and software, on the Website is the property of SIMANUD or its content suppliers and is protected by international copyright laws. No part of the Website may be reproduced, modified, distributed, or transmitted without the prior written consent of SIMANUD.</p>

          <h5>Privacy Policy</h5>
          <p>Your use of the Website is subject to our Privacy Policy, which explains how we collect, use, and protect your personal information. By using the Website, you agree to the terms of our Privacy Policy.</p>

          <h5>Termination</h5>
          <p>SIMANUD reserves the right, in its sole discretion, to terminate your access to the Website and any related services or any portion thereof at any time, without notice, for any reason, including but not limited to breach of these Terms.</p>

          <h5>Governing Law</h5>
          <p>These Terms shall be governed by and construed in accordance with the laws of Indonesia, without regard to its conflict of law provisions.</p>

          <h5>Changes to These Terms</h5>
          <p>SIMANUD reserves the right to update or modify these Terms at any time. Changes to these Terms will be posted on this page. Your continued use of the Website following the posting of any changes to these Terms constitutes acceptance of those changes.</p>

          <h5>Contact Us</h5>
          <p>If you have any questions or concerns about these Terms, please contact us at <a href="mailto:admin@simanud.asia"
                                                                                              class="text-decoration-underline">admin@simanud.asia</a>.</p>

          <p>By using the Website, you acknowledge that you have read, understood, and agree to be bound by these Terms of Use.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
</div>
