<div class="container-fluid">
  <app-page-title title="Edit Aparatur Desa" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card">
<!--        <h4 class="card-title mb-4"></h4>-->
        <div class="card-body">
          <div class="row mb-md-2" [dragula]="'officials'">
            <div class="col-md-3" *ngFor="let official of officials">
              <div class="handle">☰</div>

              <div class="form-group">
                <label for="{{ official.id }}">{{ official.name }}</label>
                <input type="text" class="form-control official-id" id="{{ official.id }}" name="{{ official.id }}" [(ngModel)]="official.position" placeholder="Enter {{ official.name }}'s position">
              </div>
              <div class="form-group">
                <label for="{{ official.id }}-photo">Foto</label>
                <input type="file" class="form-control-file" id="{{ official.id }}-photo" name="{{ official.id }}-photo" (change)="handlePhotoInputChange($event, official)">
                <img *ngIf="official.photoUrl" [src]="official.photoUrl" class="img-fluid mt-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
