<div class="container-fluid">
  <app-page-title title="Jenis Perizinan" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-12 text-right">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" (click)="openModal(null)">
                  <i class="mdi mdi-plus me-1"></i> New User
                </button>
              </div>
            </div>
          </div>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                class="d-inline-flex align-items-center">Show
                <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                        [(ngModel)]="service.pageSize" class="form-control form-control-sm mx-2">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select> entries</label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                class="d-inline-flex align-items-center">Search:
                <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                       aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
                   class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
              <thead>
              <tr>
                <!--                  <th></th>-->
                <th sortable="name" (sort)="onSort($event)">Nama</th>
                <th sortable="email" (sort)="onSort($event)">Deskripsi</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody *ngFor="let table of tables$ | async;let i=index">
              <tr>
                <td>
                  <ngb-highlight [result]="table.nama_jenis" [term]="service.searchTerm"></ngb-highlight>
                </td>
                <td>
                  <ngb-highlight [result]="table.deskripsi_perizinan" [term]="service.searchTerm"></ngb-highlight>
                </td>
                <td>
                  <div ngbDropdown placement="bottom-left">
                    <i class="mdi mdi-dots-vertical dropdown-toggle" ngbDropdownToggle data-toggle="dropdown"
                       aria-expanded="true"></i>
                    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                      <a class="dropdown-item" href="javascript: void(0);" (click)="openModal(table)"><i
                        class="mdi mdi-account-edit"></i>Edit</a>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{service.startIndex}} to
                {{service.endIndex}} of {{service.totalRecords}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content role="document" let-modal>
  <app-jenis-perizinan-form [mode]="selected ? 'edit' : 'add'" [jenisIzin]="selected" [modal]="modal"></app-jenis-perizinan-form>
</ng-template>
