<div class="modal-header">
  <h5 class="modal-title mt-0">{{ mode === 'edit' ? 'Update' : 'Tambah' }} User</h5>
  <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div class="mb-3 row">
            <label for="name-text-input" class="col-md-2 col-form-label">Nama</label>
            <div class="col-md-10">
              <input class="form-control" [(ngModel)]="user.name" type="text" placeholder="Nama" value="" id="name-text-input">
            </div>
          </div>
          <div class="mb-3 row" *ngIf="mode === 'add'">
            <label for="nik-text-input" class="col-md-2 col-form-label">NIK</label>
            <div class="col-md-10">
              <input class="form-control" [(ngModel)]="warga.nik" type="text" placeholder="NIK" value="" id="nik-text-input">
            </div>
          </div>
          <div class="mb-3 row" *ngIf="mode === 'add'">
            <label for="alamat-text-input" class="col-md-2 col-form-label">Alamat</label>
            <div class="col-md-10">
              <input class="form-control" [(ngModel)]="warga.alamat" type="text" placeholder="Alamat" value="" id="alamat-text-input">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="email-text-input" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-10">
                <input id="email-text-input" [readonly]="mode === 'edit'" [(ngModel)]="user.email" class="form-control" placeholder="Email" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="phone-text-input" class="col-md-2 col-form-label">Nomor Telepon</label>
            <div class="col-md-10">
              <input maxlength="20" id="phone-text-input" [(ngModel)]="user.phone" class="form-control" placeholder="Nomor Telepon" />
            </div>
          </div>
          <div class="mb-3 row">
            <label for="level-text-input" class="col-md-2 col-form-label">Jenis User</label>
            <div class="col-md-10">
              <select class="form-select" name="user_level" [(ngModel)]="user.user_level" id="level-text-input" data-sb-validations="required">
                <ng-container>
                  <option value="warga_desa" title="Warga">Warga</option>
                  <option value="aparat_desa" title="Perangkat Desa">Perangkat Desa</option>
                </ng-container>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password-input" class="col-md-2 col-form-label">Kata Sandi</label>
            <div class="col-md-10">
              <input class="form-control" type="password" placeholder="Kata Sandi" [(ngModel)]="user.password"
                     id="password-input">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end col -->
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
</div>
